{% extends "index.html" %}

{% block title %}
<title> {{name}}'s Characters and actors</title>
{% endblock %}

<head>
{% block body %}
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<body>
  <h1>{{name}}'s Characters and actors</h1>
  <p>{{ data|length }} records</p>
<table border="1">
  <tr>
    <th>actor</th>
      <th>character</th>
  </tr>
  {% for n in data %}
  <tr>
      <td> <a href="{{url_for('Actor',name=n.actor)}}"> {{n.actor}}  </a></td>
      <td> {{n.character}} </td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
{% endblock %}