<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Page of the Database</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% block head %}

    {% endblock %}
</head>
<body>
    <h2>
        <img alt="Title" src="{{ url_for('static', filename='movie.png') }}">
        Main Page</h2>
    <table border="1">
  <tr>
    <th>User's name</th>
    <th>User's email</th>
  </tr>
  {% for n in data %}
  <tr>
    <td>{{n.uname}}</td>
    <td>{{n.email}}</td>
  </tr>
  {% endfor %}
</table>
<ul>
    <li>
        <a href="/movie">movie part</a>
    </li>
    <li>
        <a href="/users">user part</a>
    </li>
    <li>
        <a href="/logout">log out</a>
    </li>
</ul>
{% block body %}
{% endblock %}
<footer>
        <small>&copy; 2022 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
</footer>
</body>
</html>
