{% extends "index.html" %}

{% block title %}
<title> Users_follow-Main Page </title>
{% endblock %}

{% block body %}
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
     {% for n in user %}
  <h1>{{n.user}} 's following actors</h1>
     {% endfor %}
  <p>{{ data|length }} records</p>
<table border="1">
  <tr>
    <th>User_name</th>
    <th>User's actor</th>
  </tr>
  {% for n in follow %}
  <tr>
    <td>{{n.User_name}}</td>
    <td>{{n.actor}}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
{% endblock %}