{% extends "index.html" %}


{% block title %}
<title> Users-Main Page </title>
  {% endblock %}

{% block body %}
<html>
  <style>
    body{
      font-size: 10pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>User Page</h1>
  <p>{{ data|length }} records</p>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>user's likelist</th>
    <th>user's follow</th>
  </tr>
  {% for n in data %}
  <tr>
    <td>{{n.name}}</td>
    <td>{{ n.email }}</td>
    <td><a href="{{url_for('likelist',name=n.name, str='likelist')}}"> {{n.users_likelist}} </a> </td>
    <td><a href="{{url_for('follow',names=n.name, str1='follow')}}"> {{n.users_follow}}  </a></td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
{% endblock %}


